title: "" {
  near: top-center
  grid-columns: 2
  grid-gap: 0
  width: 1000

  Topology.width: 500
  Topology.style.font-size: 32
  {{ name }}.width: 500
  {{ name }}.style.bold: false
  {{ name }}.style.font-size: 32
}

direction: right

style: {
    fill: transparent
}

{% for node in rendered_nodes: %}
{{ node }}
{% endfor %}

{% for link in links: %}
{{link['a']['node']}} -- {{link['b']['node']}}: {
    source-arrowhead.label: {{link['a']['interface']}}
    target-arrowhead.label: {{link['b']['interface']}}
}
{% endfor %}
