        {{ name }}:
            {% if kind is defined %}
            kind: {{ kind }}
            {% else %}
            kind: linux
            {% endif %}
            {% if image is defined %}
            image: {{ image }}
            {% else %}
            image: netreplica/ubuntu-host:latest
            {% endif %}
            {% if cmd is defined %}
            cmd: {{ cmd }}
            {% else %}
            cmd: /start.sh -sS
            {% endif %}
            {% if exec is defined and exec|length > 0 %}
            exec:
                {% for e in exec %}
                - {{ e }}
                {% endfor %}
            {% else %}
            exec:
                - bash -c "echo root:root | chpasswd"
            {% endif %}
            {% include 'clab/labels.j2' %}
