        {{ name }}:
            kind: rare
            {% if image is not defined %}
            {% set image = "ghcr.io/rare-freertr/freertr-containerlab:latest" %}
            {% endif %}
            {% include 'clab/node_params.j2' %}
            {% include 'clab/labels.j2' %}
