        {{ name }}:
            kind: rare
            {% if image is defined %}
            image: {{ image }}
            {% else %}
            image: ghcr.io/rare-freertr/freertr-containerlab:latest
            {% endif %}
            {% include 'clab/labels.j2' %}
