        {{ name }}:
            kind: sonic-vs
            image: netreplica/docker-sonic-vs:latest
            labels:
                graph-icon: switch
                {% include 'clab/labels.j2' %}
