        {{ name }}:
            kind: nokia_srlinux
            {% if image is defined %}
            image: {{ image }}
            {% else %}
            image: ghcr.io/nokia/srlinux:latest
            {% endif %}
            {% if type is defined %}
            type: {{ type }}
            {% else %}
            type: ixrd2
            {% endif %}
            {% if configuration_file is defined %}
            startup-config: {{ configuration_file }}
            {% endif %}
            {% include 'clab/labels.j2' %}