// Graphviz DOT visualization and NVIDIA Air topology in dot notation
graph {{name}} {
  // Nodes
  {% for node in rendered_nodes %}
  {{ node }}
  {% endfor %}

  // Links
  {% for link in links %}
  "{{link['a']['node']}}":"{{link['a']['e_interface']}}" -- "{{link['b']['node']}}":"{{link['b']['e_interface']}}"
  {% endfor %}
}