      {% if cpu is defined %}
      "cpu": {{ cpu }},
      {% endif %}
      {% if memory is defined %}
      "memory": {{ memory }},
      {% endif %}
      {% if storage is defined %}
      "storage": {{ storage }},
      {% endif %}
      {% if pxehost is defined %}
      "pxehost": {{ pxehost }},
      {% endif %}
      {% if os is defined and os|length > 0%}
      "os": "{{ os }}"
      {% else %}
      "os": "generic/ubuntu2204"
      {% endif %}
