            {% if image is defined %}
            image: {{ image }}
            {% endif %}
            {% if startup_config is defined %}
            startup-config: {{ startup_config }}
            {% endif %}
            {% if cmd is defined %}
            cmd: {{ cmd }}
            {% endif %}
            {% if exec is defined and exec|length > 0 %}
            exec:
                {% for e in exec %}
                - {{ e }}
                {% endfor %}
            {% endif %}
