name: {{name}}
topology:
    nodes:
        otg:
            kind: linux
            image: ghcr.io/open-traffic-generator/keng-controller:latest
            cmd: --accept-eula --http-port 8443
            ports:
                - 8443:8443
{% for node in rendered_nodes: %}
{{ node }}
{% endfor %}
    links:
{% for link in links: %}
        - endpoints: ["{{link['a']['node']}}:{{link['a']['e_interface']}}", "{{link['b']['node']}}:{{link['b']['e_interface']}}"]
{% endfor %}

