      "labels": {
        "graph-icon": "{{ role }}",
        "graph-level": {{ 10 - level }},
        "role": "{{ role_name }}",
        "group": "{{ site }}",
        "platform": "{{ platform_name }}",
        "vendor": "{{ vendor_name }}",
        "model": "{{ model_name }}"
