{
  "name": "{{name}}",
  "type": "graphite",
  "source": "netbox",
  "motd": "Start Graphite and open http://localhost:8080/graphite to view the topology: docker run -dt --rm -p 8080:80 --name graphite netreplica/graphite:latest",
  "nodes": {
{% for node in nodes: %}
{{ node }}{% if not loop.last %},{% endif %}

{% endfor %}
  },
  "links": [
{% for link in links: %}
    {
      "a": {
        "node": "{{link['a']['node']}}",
        "interface": "{{link['a']['interface']}}",
        "peer": "z"
      },
      "z": {
        "node": "{{link['b']['node']}}",
        "interface": "{{link['b']['interface']}}",
        "peer": "a"
      }
    }{% if not loop.last %},{% endif %}

{% endfor %}
  ]
}