  - boot_disk_size: null
    configuration: virbr0
    cpu_limit: null
    cpus: null
    data_volume: null
    hide_links: false
    id: n2
    image_definition: null
    label: ext-conn-0
    node_definition: external_connector
    ram: null
    tags: []
    x: -240
    y: -320
    interfaces:
      - id: i0
        label: port
        slot: 0
        type: physical
