  - id: n{{ node_id }}
    label: {{ name }}
    node_definition: iosv
    image_definition: null
    configuration: hostname {{ name }}
    boot_disk_size: null
    cpu_limit: null
    cpus: null
    data_volume: null
    ram: null
    hide_links: false
    tags: []
    x: {{ node_id * 100 }}
    y: {{ node_id * 100 }}
{% include 'cml/kinds/ios.interfaces.j2' %}