type: topograph
version: v0.2
inventory:
    nodes:
{% for node in rendered_nodes: %}
{{ node }}
{% endfor %}
topologies:
  - name: {{ name }}
    nodes:
{% for node in nodes: %}
      - name: {{ node.name }}
{% endfor %}
    links:
    {% for link in links: %}
      - endpoints: [{{link['a']['node']}}:{{link['a']['interface']}}, {{link['b']['node']}}:{{link['b']['interface']}}]
    {% endfor %}